@media screen and (max-width: 500px) {
    .container {
        max-width: none;
        width: 100%;
        padding: 0 25px;
    }

    .types {
        display: none;
    }

    
    .container-navigation {
        display: flex;
        justify-content: center;
    }

    .menu {
        display: flex;
        background-color: green;
        padding: 5px;
        width: fit-content;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }

    .navigation {
        display: none;
    }

    .nav-menu {
        display: flex;
        background-color: #FFFFFF;
        padding: 5px 10px;
        cursor: pointer;
        width: 200px;
        justify-content: space-between;
        align-items: center;
        border-radius: 40px;
    }

    .nav-menu-text {
        margin: 0;
    }

    .logo-text {
        display: none;
    }

    .chair {
        margin: 0 5px;
        max-width: 200px;
    }

    .auto {
        display: none;
    }
}