@media screen and (max-width: 1100px) {
    .container {
        max-width: 800px;
    }

    .chair {        
        padding: 15px 5px;
    }

    .envelope {
        display: none;
    }

    .footer-phone-box {
        flex-direction: column-reverse;
    }

    .phone-footer {
        margin-right: 0;
        margin-top: 5px;
    }


}